* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  margin-bottom: 10px;
}

.nav-items {
  list-style: none;
  display: flex;
}

.nav-items li {
 padding: 10px;
}

.logo {
  width: 60px;
}

.footer {
  background-color: gray;
  color: white;
  padding: 10px;
  margin-top: 10px;
}